<div class = "question">
    <div class = "top">
        <span *ngIf = "isCorrect != undefined">
            <span *ngIf = "!isCorrect">❌</span>
            <span *ngIf = "isCorrect">✔️</span>
        </span>

        <span *ngIf = "canEdit">
            <mat-icon fontIcon = "edit" (click) = "editQuestion()"></mat-icon>
        </span>

        <span class = "number">{{index + 1}}.</span>
        {{question.questionText}}
    </div>
    <div class = "choices" *ngFor = "let choice of question.choices; let i = index;">
        <div class = "choice" [ngClass] = "{'correct' : choice.choiceText == question.answer && isCorrect != undefined, 'incorrect' : userAnswer  == choice.choiceText && !isCorrect}">
            <label>{{choiceLabel(i)}}</label>
            <div class = "choice">
                {{choice.choiceText}}
            </div> 
        </div> 
    </div>
    <div class = "incorrect" *ngIf = "isResults && !isCorrect && !userAnswer">
       <div class = "no-answer">You did not answer :(</div>
    </div>
    <div class = "answer" *ngIf = "isResults && !question.choices?.length && userAnswer != ''"
    [ngClass] = "{'correct' : isCorrect && userAnswer != undefined, 'incorrect' : !isCorrect && userAnswer != undefined}">
        <label>You Answered: </label>
        <span class = "user-answer">{{userAnswer}}</span>
    </div>
    <div class = "answer" *ngIf = "!question.choices?.length || !isResults">
        <label>Answer: </label>
        <div [ngClass] = "{ 'spoiler' : hideAnswers }">
            {{question.answer}}
        </div>
    </div>
</div>

