.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F3595;
}

.section {
   color: #A2BAF6; 
}

.left {
    padding-left: 10px;
}

.right {
    padding-right: 10px;
}