<nav class = "navbar">
    <div class = "left section">
        <img [src] = "isHovered ? logoHoverUrl : logoUrl" 
        (click) = "goHome()" 
        (mouseover) = "isHovered = true"
        (mouseout) = "isHovered = false">
    </div>
    <div class = "right section">
        <ul>
            <li (click) = "goFind()">
                Find
            </li>
            <li (click) = "goMake()">
                Make
            </li>
            <li (click) = "goMine()">
                Mine
            </li>
        </ul>
    </div>
</nav>
