.container {
    margin: 10% auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container i {
    margin-bottom: 40px;
}

.take-test {
    padding: 12px;
    border: 1px solid #210B6F;
    background-color: #730F9B;
    color: #A2BAF6;
    transition: background-color 0.3s;
}

.take-test:hover {
    background-color: #530B6F;
    cursor: pointer;
}

.questions {
    margin-top: 40px;
    width: 80%;
}

.toggle {
    margin-bottom: 20px;
    text-align: center;
}

.new {
    text-align: center;
}

.new-btn {
    background-color: green;
    border-radius: 20px;
    width: 20px;
    cursor: pointer;
}
