.container {
    margin: 10% auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container i {
    margin-bottom: 40px;
}

.take-test {
    background-color: green;
    padding: 10px;
    cursor: pointer;
}

.questions {
    margin-top: 40px;
    width: 80%;
}

.toggle {
    margin-bottom: 20px;
    text-align: center;
}

.new {
    text-align: center;
}

.new-btn {
    background-color: green;
    border-radius: 20px;
    width: 20px;
    cursor: pointer;
}
