<div class = "wrapper">
    <div class = "container">
        <h1>{{test?.title}}</h1>
        <i>{{test?.description}}</i>

        <div class = "questions">
            <label>Hide Answers: </label>
            <input type = "checkbox" [(ngModel)] = "hideAnswers">
            <div class = "question" *ngFor = "let question of test?.questions">
                {{question.question}}
                <div class = "choices" *ngFor = "let choice of question.choices">
                    <div class = "choice">
                        {{choice.choice}}
                    </div>  
                </div>
                <div>
                    <label>Answer: </label>
                    <span class = "answer" [ngClass] = "{ 'spoiler' : hideAnswers }"> {{question.answer}}</span>
                </div>
            </div>
        </div>
    </div>
</div>