<div class = "question">
    <form (ngSubmit) = "saveQuestion()">
        <textarea [(ngModel)]= "question" placeholder = "Question" name = "question"></textarea>
        <div class = "choices">
            <div class = "choice"  *ngFor = "let choice of choices; let i = index; trackBy: trackByFn">
                <label>{{choiceLabel(i)}}</label>
                <input placeholder = "Choice" name = "choice{{i}}" id = "choice{{i}}" [(ngModel)] = "choices[i]">
                <button type = "button" (click) = "removeChoice(i)">-</button>
            </div>
            <button (click) = "addChoice()" type = "button" *ngIf = "choices.length < MAX_CHOICES">Add choice</button>
        </div>
        <textarea [(ngModel)]= "answer" placeholder = "Answer" name = "answer"></textarea>
        <button class = "submit" type = "submit">Save question</button>
    </form>
</div>
