.question {
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 16px;
    border-radius: 5px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
}

.top-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel {
    background-color: #fecaca;
    color: #dc2626;
    border: 2px solid #fca5a5;
    border-radius: 20px;
    width: 20px;
    cursor: pointer;
}

.delete {
    display: inline-block;
    background-color: #fecaca;
    color: #dc2626;
    border: 2px solid #fca5a5;
    font-size: 12px;
    border-radius: 20%;
    padding: 3px 4px;
}

.delete:hover, .cancel:hover {
    border-color: #ef4444;
    cursor: pointer;
}

.delete:active {
   background-image: linear-gradient(to right, #fca5a5 0%, #fca5a5 50%, #fecaca 50%, #fecaca 100%); 
   background-size: 200% 100%;
   background-position: 100%;
   animation: 2s confirmation ease-out forwards;
}

@keyframes confirmation {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0%;
    }
}

.error {
    color: red;
    margin-bottom: 5px;
}

.warning {
    color: #008B8B;
    margin-bottom: 5px;
}

.question form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question form textarea {
    resize: none;
    padding: 10px;
    height: 50px;
    width: 98%;
}

.choices {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.choice {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
}

.choice input {
    width: 100%;
    margin-left: 3px;
}

.input-btn {
    width: 50px;
}

.mcAnswer {
    display: flex;
}

.mcAnswer select {
    margin-left: 10px;
}

.submit {
    margin-top: 10px;
}