.search {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search input {
    margin-right: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 200px;
}

.test {
    width: 40%;
    margin-top: 40px;
}

.card {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title:hover {
    color: #730F9B;
    cursor: pointer;
}
