<div class = "container">
    <div class = "timer" *ngIf = "this.options.timer">
        <app-timer 
        (timerFinish) = "endTest()"
        [timeRemaining] = "this.options.testTimer ? this.options.testTimer : 0" 
        [countdown] = "this.options.testTimer">
        </app-timer>
    </div>

    <div class = "question-card">
        <div class = "questionTimer" *ngIf = "this.options.questionTimer">
            <app-timer #currentQuestionTimer 
            (timerFinish) = "forceMove()"
            [timeRemaining] = "this.currentQuestionTime ? this.currentQuestionTime : this.options.questionTimer" 
            [countdown] = "true"></app-timer>
        </div>
        <div class = "question">
            <span class = "number">{{questionIndex + 1}}.</span>
            {{currentQuestion?.question}}
        </div>
        <div class = "choices" *ngFor = "let choice of currentQuestion?.choices; let i = index;">
            <div class = "choice">
                <input type = "radio" id = "choice{{i}}" name = "choices" value = "{{choice.choice}}" [(ngModel)] = "currentAnswer">
                <label>{{choiceLabel(i)}}</label>
                <div class = "choice">
                    {{choice.choice}}
                </div> 
            </div> 
        </div>
        <div *ngIf = "!currentQuestion?.choices">
            <textarea #longAnswer class = "long-answer" [(ngModel)] = "currentAnswer"></textarea>
        </div>
        <div class = "answer" *ngIf = "options.practice">
            <label>Answer: </label>
            <div class = "spoiler">
                {{currentQuestion?.answer}}
            </div>
        </div>
    </div>
    <div class = "pagination">
        <div [ngClass] = "{'disabled' : !canPrev, 'btn' : canPrev}" (click) = "prevQuestion()">
            <div class = "point left"> </div>
            <button><<< Prev</button>
        </div>
        <div>
            <div class = "progress">
                {{questionIndex + 1}} / {{test?.questions?.length}}
            </div>
        </div>
        <div [ngClass] = "{'disabled' : !canNext, 'btn' : canNext && !preventNext, 'preventNext' : preventNext}" (click) = "nextQuestion()">            
            <button >Next >>></button>
            <div class = "point right"> </div>
        </div>
    </div>
</div>