.container {
    display: flex;
    justify-content: center;
}

.results {
    margin-top: 20px;
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.section label {
    padding-right: 10px;
}