.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    margin-top: 20px;
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.section label {
    padding-right: 10px;
}

.results div {
    margin-top: 20px;
}

.percentage {
    color: red;
    font-size: xx-large;
}

.passing {
    color: green;
}

.toggles {
    display: flex;
    margin-top: 16px;
    gap: 20px;
}