/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #A2BAF6;
    overflow-y: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;

    overflow: hidden;
    overflow-y: auto;
}

/* For horizontal scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #A2BAF6; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #0F3595; /* Color of the scrollbar */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0B276F; /* Color of the scrollbar on hover */
}

/* For vertical scrollbar */
::-webkit-scrollbar-vertical {
    width: 8px;
}

